body{
    font-family: 'Bai Jamjuree';
    font-weight: 400, 600;
    font-family: 'Bai Jamjuree', sans-serif;
}
.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    height: 736px;
    margin-bottom: 150px;
}
.intro-pic{
    background-image: url('/front-mentor-clip-1/img/bg-header-mobile.png');
    height: 250px;
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-text{
 height: 230px;
 width: 300px;
 display: flex;
 justify-content: center;
 flex-flow: row wrap;
 text-align: center;
}
.intro-buttons{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-top: 20px;
    color: white;
}
.button{
    height: 56px;
    border-radius: 40px;
    width: 310px;
    -webkit-box-shadow: -3px 9px 8px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 9px 8px -5px rgba(0,0,0,0.75);
    box-shadow: -3px 9px 8px -5px rgba(0,0,0,0.75);
}

/* Features Section */
.features{
    text-align: center;
    margin-bottom: 170px;
}
.fea-intro{
    margin-left: 27px;
    margin-right: 27px;
}
.fea-services{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
    text-align: center;
}
.fea-picture{
    margin-left: 15px;
    margin-right: 15px;
}
.computer-img{
    width: 100%;
}
.feature{
    width: 80%;
}
.access{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
    text-align: center;
}
.access-text{
    width: 85%;
}
.access-picture{
   margin-top: 40px;
   width: 100%;
}
